// VARIABLES
$primary-color: #0fd65a;
$secondary-color: #f2f2f2;
$white-color: #ffffff;
$light-grey: #9a9b9b;
$font-main-color: #1b1b1b;
$background-color: #1b1b1b;

// BASIC GLOBAL SETTINGS, RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: $font-main-color;
  background-color: $background-color;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
}

/* Utility full width window */

.full-width {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  opacity: 0.96;
}
