/* APP COMPONENTS */

.app-logo {
  width: 12rem;
  height: auto;
}

.exchange-form {
  margin-top: 5rem;
  padding: 3rem;
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 78px 98px 50px rgba(0, 0, 0, 0.01),
    44px 55px 42px rgba(0, 0, 0, 0.05), 19px 24px 31px rgba(0, 0, 0, 0.09),
    5px 6px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

  &__form {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__field-from {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__field-to {
    display: flex;
  }

  &__input-value {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 1rem;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    height: 4rem;

    &:focus {
      @include outline-focus;
    }
  }

  select {
    display: inline-block;
    height: 4rem;
    padding: 1rem 1rem 1rem 0.3rem;
    font-size: 1.4rem;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin: 0;
    width: 6.5rem;

    &:focus {
      @include outline-focus;
    }
  }

  &__dec-arrow {
    margin: 0 1.5rem;
    padding-top: 0.7rem;
  }

  &__result {
    margin-top: 3.5rem;
    text-align: center;

    &-title {
      font-size: 1.4rem;
    }

    &-value {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
}

.btn {
  display: block;
  height: 100%;
  width: 100%;
  padding: 1.3rem 2.8rem;
  margin-top: 2rem;
  font-weight: 600;
  box-shadow: 0px 8px 10px rgba(149, 157, 180, 0.25);
  border: 2px solid $primary-color;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include tablet {
    margin-top: 0rem;
    margin-left: 3rem;
    width: auto;
  }

  &--primary {
    color: #fff;
    background-color: $primary-color;

    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }
  }
}

.popular-currency-wrapper {
  margin-top: 5rem;
  padding: 3rem;
  background-color: $secondary-color;
  border-radius: 1rem;
  box-shadow: 78px 98px 50px rgba(0, 0, 0, 0.01),
    44px 55px 42px rgba(0, 0, 0, 0.05), 19px 24px 31px rgba(0, 0, 0, 0.09),
    5px 6px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.currency-table {
  border-collapse: collapse;
  width: 100%;

  &__row {
    border-top: 1px solid $table-bottom-border-color;
  }

  &__title {
    font-size: 1.3rem;
    padding: 1.5rem 1.2rem 1.5rem 0;
  }

  &__value {
    padding: 1.5rem 1.2rem 1.5rem 0;
    text-align: center;
  }

  &__flag-icon {
    position: relative;
    top: 3px;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .btn-show-more {
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    img {
      width: 100%;
    }
  }
}
