*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #1b1b1b;
  background-color: #1b1b1b;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
}

/* Utility full width window */
.full-width {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  opacity: 0.96;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 85%;
}

.app-wrapper {
  position: relative;
  height: 100%;
}

/* App main view with background */
.main-view {
  padding-top: 4rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(27, 27, 27, 0.88)), color-stop(30%, #1b1b1b)), url("../../img/bg_image.jpg");
  background-image: linear-gradient(rgba(27, 27, 27, 0.88) 10%, #1b1b1b 30%), url("../../img/bg_image.jpg");
  background-repeat: no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__category-title {
  color: #9a9b9b;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__album-title {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 400;
}

.header-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section-songs {
  margin-top: 2.5rem;
}

@media (min-height: 660px) {
  .section-songs {
    margin-top: 6vh;
  }
}

/* Fixed bottom container */
.fixed-bottom-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 135px;
  z-index: 2;
}

@media (min-height: 660px) {
  .fixed-bottom-wrapper {
    height: 140px;
  }
}

.footer {
  background: #ffffff;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

.footer .playlist-open-btn {
  cursor: pointer;
}

.footer .playlist-open-btn img {
  width: 28px;
}

.footer .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
}

.footer .next-song {
  margin-left: 3rem;
}

.footer .next-song__heading {
  color: #9a9b9b;
  font-size: 1.4rem;
}

.footer .next-song__name {
  font-size: 1.8rem;
}

.footer .next-song__time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #9a9b9b;
}

/* APP COMPONENTS */
/* Button */
.btn {
  font-size: 1.4rem;
  padding: 1.1rem 2rem;
  text-align: center;
  border-radius: 50px;
}

.btn--primary {
  background-color: #0fd65a;
  color: #ffffff;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn--primary:hover {
  background-color: #ffffff;
  color: #0fd65a;
  border: 2px solid #0fd65a;
}

.btn--wide {
  width: 80%;
}

/* Previous page button with icon */
.previous-page__link {
  text-decoration: none;
  cursor: pointer;
}

.previous-page__icon {
  height: 25px;
  width: auto;
}

/* Show more dotted style button */
.show-more-button {
  position: relative;
  left: 1rem;
  padding: 0 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.show-more-button img {
  height: 25px;
}

/* Song item - content in slide */
.song-item {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.song-item__title {
  font-size: 2.8rem;
  color: #0fd65a;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.song-item__author {
  color: #9a9b9b;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.song-item__image {
  margin-bottom: 1rem;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Splide custom styling to override library default styles */
.splide__slide {
  height: calc(43vh + 2.2rem);
  margin-right: 0 !important;
  padding-bottom: 0.5rem;
}

@media (min-height: 660px) {
  .splide__slide {
    height: calc(34vh + 2rem);
    margin-bottom: 1rem;
  }
}

.splide__slide.is-active .song-item__image {
  position: relative;
}

.splide__slide.is-active .song-item__image::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 70px;
  height: 70px;
  border: 5px solid #0fd65a;
  border-radius: 50%;
  background: #1b1b1b;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.splide__slide.is-active .song-item__image img {
  width: 90%;
}

@media (min-height: 660px) {
  .splide__slide.is-active .song-item__image img {
    width: 100%;
  }
}

.splide__slide:not(.is-active) .song-item__title {
  opacity: 0;
}

.splide__slide:not(.is-active) .song-item__author {
  opacity: 0;
}

.splide__slide:not(.is-active) .song-item__image {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  margin: 0 auto;
  opacity: 0.8;
}

.splide__slide:not(.is-active) .song-item__image::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 0px;
  height: 0px;
}

.splide__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.splide__arrow {
  position: static;
  top: 0;
  -webkit-transform: 0;
          transform: 0;
  background: none;
  border: none;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

/* Player with parts */
.player-wrapper {
  position: relative;
}

@media (min-height: 660px) {
  .player-wrapper {
    margin-top: 0.5rem;
  }
}

.player__icon {
  cursor: pointer;
}

.player__icon:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.player__icon--small {
  width: 40px;
}

.player__icon--big {
  width: 150px;
}

@media (min-height: 660px) {
  .player__icon--big {
    width: 160px;
  }
}

.player-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-top: 0;
}

@media (min-height: 660px) {
  .player-progress-bar {
    margin-top: 0.3rem;
  }
}

.player-progress-bar__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 5px;
  background-color: #000000;
}

.player-progress-bar__value {
  width: 0;
  height: 5px;
  background-color: #2a2a2a;
}

.player-progress-bar__time {
  color: #9a9b9b;
}

.player-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 35px;
  width: 100%;
  margin-top: 3rem;
}

@media (min-height: 660px) {
  .player-chart {
    height: 40px;
  }
}

.player-chart__item {
  width: 3px;
  height: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #0fd65a;
}

/* Dotted line decorative element */
.dotted-line {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90%;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 0.7rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(8%, black), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, black 8%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}

/* Playlist view related styles */
.section-playlist {
  -webkit-transform: translateY(1200px);
          transform: translateY(1200px);
  opacity: 1;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.section-playlist::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 500px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgba(255, 255, 255, 0.0001))), rgba(255, 255, 255, 0.0001);
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0.0001) 100%), rgba(255, 255, 255, 0.0001);
  z-index: 0;
}

.section-playlist.isActive {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.playlist-page-header {
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../../img/bg_image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../img/bg_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist-page-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
}

.playlist-page-header__info__song-name {
  font-size: 2.2rem;
  color: #0fd65a;
}

.playlist-page-header__info__song-author {
  font-size: 1.4rem;
  color: #9a9b9b;
}

.playlist-page-header__img {
  width: 50px;
  margin-left: auto;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 8rem);
  background: #ffffff;
}

.playlist-list {
  height: 100%;
  margin: 4rem 0;
  overflow-y: auto;
  list-style-position: inside;
}

.playlist-list .dotted-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0.2rem;
}

.playlist-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 2rem;
  padding-right: 0.5rem;
  margin-bottom: 2.5rem;
  counter-increment: step-counter;
}

.playlist-list__item::before {
  content: counter(step-counter) ".";
  position: absolute;
  top: 2px;
  left: -0.5rem;
  margin-right: 20px;
  font-size: 90%;
  font-weight: 500;
  color: #9a9b9b;
  border-radius: 11px;
}

.playlist-list__item::marker {
  color: #9a9b9b;
  font-size: 1.4rem;
  padding-right: 1rem;
}

.playlist-list__item__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-right: 0.8rem;
}

.playlist-list__item__time {
  color: #9a9b9b;
  font-weight: 500;
  margin-left: 1rem;
}

.playlist-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: #ffffff;
  z-index: 2;
}

.hide-playlist-btn {
  margin-top: 2rem;
  padding-bottom: 1rem;
  width: 25px;
  cursor: pointer;
}

/* Show more view related styles */
#show-more-view {
  padding-top: 4rem;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#show-more-view.isActive {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.show-more-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.show-more-info__img {
  margin: 1rem auto;
  width: 50%;
}

.show-more-info__title {
  font-size: 2.8rem;
  color: #0fd65a;
  opacity: 1;
}

.show-more-info__author {
  color: #9a9b9b;
  opacity: 1;
}

.show-more-info-list {
  position: relative;
  margin-top: 6rem;
  list-style: none;
  text-align: center;
}

.show-more-info-list::before {
  content: '.  .  .';
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 1px;
  color: #9a9b9b;
  letter-spacing: 5px;
  font-weight: bold;
}

.show-more-info-list__item {
  margin-bottom: 2rem;
  color: #ffffff;
}

.show-more-info-list__link {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */